.App {
  display: flex;
  justify-content: center;
  background: #1a1a1c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a1a1c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a1a1c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.coin-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  background: #6D6027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: black;
}
.coin-input:focus{
  outline: solid blue;
}
.coin-input::placeholder {
  color: black;
  font-weight: bolder;
  font-size: 1rem;
}





.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
  padding: 0.2rem 1.5rem;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  min-width: 300px;
}

.coin :nth-child(2){
  margin-left: 0.7rem;
}
.coin img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}


@media screen and (max-width: 1000px){
  .coin-row {

    width: 700px;
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
  }
  .coin {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    min-width: 250px;
  }

  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
  }
  .coin-volume{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .coin-row{
    justify-content: space-between;
    width: 100%;
  }
  .coin-marketcap{
    display: none;
  }

}
@media screen and (max-width: 450px){
  .coin-row{
    justify-content: space-around;
    width: 100%;
  }
  .coin{
    padding-left: 0.5rem;
    width: auto;
    min-width: 180px;
    max-width: 180px;

  }
  .coin-data{
    width: auto;
    min-width: 150px;
    max-width: 150px;

  }
  .coin-marketcap{
    display: none;
  }

  .coin-input {
    padding-left: 16px;
    width: 250px;
    height: 40px;
    border-radius: 4px;
  }
  .coin-text{
    font-size: 1.7rem;
  }
}
